# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller / Executables
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# Output and Log files
logs/
output/
*.log
senderlog.txt
qimageviewer.log

# Security sensitive files & keys
*.Lic
*.key
*.pem
*Secret*
*Credential*
*ConnectionString*
AzureConnectionString.txt
DatabaseConfiguration.xml